@page "/contracts"

<h3>Contract</h3>


<TelerikGrid Data="ContractsList" AutoGenerateColumns="false" EditMode="GridEditMode.Inline" OnCreate="CreateHandler" OnUpdate="UpdateHandler">
	<GridToolBar>
        <GridCommandButton OnClick="GenerateContractNo" Command="Add" Icon="add" Primary="true">Add Item</GridCommandButton>
        <GridCommandButton Command="ExcelExport" Icon="file-excel">Export to Excel</GridCommandButton>
        <GridSearchBox DebounceDelay="200" Class="ml-auto"></GridSearchBox>
    </GridToolBar>
    <GridColumns>
        <GridColumn Field="@(nameof(AccountingSystem.Shared.Models.Contract.ContractNo))" Title="Contract #" Locked="true">
            <EditorTemplate>
                <TelerikTextBox @bind-Value="CurrentContractNo"></TelerikTextBox>
            </EditorTemplate>
        </GridColumn>
        <GridColumn Field="@(nameof(AccountingSystem.Shared.Models.Contract.BusinessName))" Title="Renter" Locked="true" />
        <GridColumn Field="@(nameof(AccountingSystem.Shared.Models.Contract.Address))" Title="Address" />
        <GridColumn Field="@(nameof(AccountingSystem.Shared.Models.Contract.ContactPerson))" Title="Contact Person" />
        <GridColumn Field="@(nameof(AccountingSystem.Shared.Models.Contract.ContactNo))" Title="Contact No" />
        <GridColumn Field="@(nameof(AccountingSystem.Shared.Models.Contract.ItemDescription))" Title="Item Description" />
        <GridColumn Field="@(nameof(AccountingSystem.Shared.Models.Contract.TotalItem))" Title="Total Item" />
        <GridColumn Field="@(nameof(AccountingSystem.Shared.Models.Contract.TotalAmount))" Title="TotalAmount" />
        <GridColumn Field="@(nameof(AccountingSystem.Shared.Models.Contract.DateStart))" Title="DateStart" />
        <GridColumn Field="@(nameof(AccountingSystem.Shared.Models.Contract.DateEnt))" Title="DateEnt" />
        <GridCommandColumn Width="150px" Locked="true" Title="Action">
            <GridCommandButton Command="Save" Icon="save" ShowInEdit="true"></GridCommandButton>
            <GridCommandButton Command="Edit" Icon="pencil"></GridCommandButton>
            <GridCommandButton Command="Cancel" Icon="cancel" ShowInEdit="true"></GridCommandButton>
        </GridCommandColumn>
    </GridColumns>
</TelerikGrid>
