@page "/Customers"

<h3>Customers</h3>

<button class="btn btn-success margin-bottom" @onclick="AddNewLocation">+ Add Customer</button>

<TelerikGrid Data="Customers" AutoGenerateColumns="false">
	<GridToolBar>
        <GridCommandButton Command="ExcelExport" Icon="file-excel">Export to Excel</GridCommandButton>
        <GridSearchBox DebounceDelay="200" Class="ml-auto"></GridSearchBox>
    </GridToolBar>
	<GridColumns>
        <GridColumn Field="@(nameof(Customer.CustomerName))" Title="Customer" Locked="true" />
        <GridColumn Field="@(nameof(Customer.ContactPerson))" Title="Contact Person" Locked="true" />
        <GridColumn Field="@(nameof(Customer.ContactNo))" Title="Contact No." Locked="true" />
        <GridCommandColumn Width="150px" Locked="true" Title="Action">
            <GridCommandButton OnClick="EditItem" Icon="pencil"></GridCommandButton>
        </GridCommandColumn>
    </GridColumns>
</TelerikGrid>

<div class="modal fade" id="Customermodal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span></button>
				<h4 class="modal-title">@(CurrentCustomer.CustomerId > 0 ? "Edit" : "+ New") Customer</h4>
			</div>
			<div class="modal-body">
				<div class="form-group @(IsValidSubmit ? "" : "has-error")">
					<label>Customer Name</label>
					<input type="text" class="form-control" @bind-value="CurrentCustomer.CustomerName" />
				</div>
				<div class="form-group @(IsValidSubmit ? "" : "has-error")">
					<label>Contact Person.</label>
					<input type="text" class="form-control" @bind-value="CurrentCustomer.ContactPerson" />
				</div>
				<div class="form-group @(IsValidSubmit ? "" : "has-error")">
					<label>Contact No.</label>
					<input type="text" class="form-control" @bind-value="CurrentCustomer.ContactNo" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" @onclick="SaveItem">Save changes</button>
			</div>
		</div>
	</div>
</div>
