@page "/Items"

<h3>Items</h3>

<button class="btn btn-success margin-bottom" @onclick="AddNewLocation">+ Add Item</button>

<TelerikGrid Data="Items" AutoGenerateColumns="false">
	<GridToolBar>
        <GridCommandButton Command="ExcelExport" Icon="file-excel">Export to Excel</GridCommandButton>
        <GridSearchBox DebounceDelay="200" Class="ml-auto"></GridSearchBox>
    </GridToolBar>
	<GridColumns>
        <GridColumn Field="@(nameof(Item.Category.CategoryName))" Title="Category" Locked="true" >
			<Template>
				@{
					var item = context as Item;
					var categoryname = Categories.FirstOrDefault(s => s.CategoryId == item.CategoryId)?.CategoryName;
						<span>@categoryname</span>
				}
			</Template>
		</GridColumn>
		<GridColumn Field="@(nameof(Item.Brand.BrandName))" Title="Brand" Locked="true" >
			<Template>
				@{
					var item = context as Item;
					var BrandName = Brands.FirstOrDefault(s => s.BrandId == item.BrandId)?.BrandName;
						<span>@BrandName</span>
				}
			</Template>
		</GridColumn>
        <GridColumn Field="@(nameof(Item.ItemCode))" Title="Code" Locked="true" />
        <GridColumn Field="@(nameof(Item.ItemDescription))" Title="Description" Locked="true" />
        <GridColumn Field="@(nameof(Item.Price))" Title="Price" Locked="true" />
        <GridColumn Field="@(nameof(Item.UnitCost))" Title="Cost" Locked="true" />
        <GridColumn Field="@(nameof(Item.PartNumber.PartNumberName))" Title="Part No." Locked="true" >
			<Template>
				@{
					var pn = context as Item;
					var PartNumberName = PartNumbers.FirstOrDefault(s => s.PartNumberId == pn.PartNumberId)?.PartNumberName;
					var PartNumberSuffix = PartNumbers.FirstOrDefault(s => s.PartNumberId == pn.PartNumberId)?.PartNumberSuffix;
							<span>@PartNumberName - [Suffix]&nbsp;@PartNumberSuffix</span>
				}
			</Template>
		</GridColumn>
		<GridColumn Field="@(nameof(Item.Uom.UomName))" Title="UOM" Locked="true" >
			<Template>
				@{
					var uom = context as Item;
					var UomName = Uoms.FirstOrDefault(s => s.UomId == uom.UomId)?.UomName;
							<span>@UomName</span>
				}
			</Template>
		</GridColumn>
		<GridColumn Field="@(nameof(Item.ReorderPoint))" Title="ROP" Locked="true" />
        <GridCommandColumn Width="150px" Locked="true" Title="Action">
            <GridCommandButton OnClick="EditItem" Icon="pencil"></GridCommandButton>
        </GridCommandColumn>
    </GridColumns>
</TelerikGrid>

<div class="modal fade" id="Itemmodal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span></button>
				<h4 class="modal-title">@(CurrentItem.ItemId > 0 ? "Edit" : "+ New") Item</h4>
			</div>
			<div class="modal-body">
				<div class="col-sm-12">
					<div class="form-group col-sm-6">
						<label>Category</label>
						<select class="form-control select2" style="width:100%;">
							<option value="">-</option>
							@foreach (var x in Categories)
							{
								<option value="@x.CategoryId">@x.CategoryName</option>
							}
						</select>
					</div>
					<div class="form-group col-sm-6">
						<label>Brand</label>
						<select class="form-control select2" style="width:100%;" >
							<option value="">-</option>
							@foreach (var x in Brands)
							{
								<option value="@x.BrandId">@x.BrandName</option>
							}
						</select>
						<TelerikDropDownList 
							Data="Brands" 
							TextField="BrandName" 
							ValueField="BrandId" 
							DefaultText="-"
							Filterable="true"
							@bind-Value="CurrentItem.BrandId"></TelerikDropDownList>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="form-group col-sm-6">
						<label>Part Number</label>
						<TelerikDropDownList 
							Data="PartNumbers" 
							TextField="PartNumberName" 
							ValueField="PartNumberId" 
							DefaultText="-"
							Filterable="true"
							@bind-Value="CurrentItem.PartNumberId">
								<ItemTemplate>
									@((context as PartNumber).PartNumberName) - @((context as PartNumber).PartNumberSuffix)
								</ItemTemplate>
						</TelerikDropDownList>
					</div>
					<div class="form-group col-sm-6">
						<label>UOM</label>
						<TelerikDropDownList 
							Data="Uoms" 
							TextField="UomName" 
							ValueField="UomId" 
							DefaultText="-"
							Filterable="true"
							@bind-Value="CurrentItem.UomId">
								<ItemTemplate>
									@((context as Uom).UomName)
								</ItemTemplate>
						</TelerikDropDownList>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="form-group col-sm-6 @(IsValidSubmit ? "" : "has-error")">
						<label>Item Code</label>
						<input type="text" class="form-control" @bind-value="CurrentItem.ItemCode" />
					</div>
					<div class="form-group col-sm-6 @(IsValidSubmit ? "" : "has-error")">
						<label>Item Description</label>
						<input type="text" class="form-control" @bind-value="CurrentItem.ItemDescription" />
					</div>
				</div>
				<div class="col-sm-12">
					<div class="form-group col-sm-6 @(IsValidSubmit ? "" : "has-error")">
						<label>Price</label>
						<TelerikNumericTextBox Min="0" @bind-Value="CurrentItem.Price"></TelerikNumericTextBox>
						@*<input type="number" class="form-control" @bind-value="CurrentItem.Price" />*@
					</div>
					<div class="form-group col-sm-6 @(IsValidSubmit ? "" : "has-error")">
						<label>Unit Cost</label>
						<TelerikNumericTextBox Min="0" @bind-Value="CurrentItem.UnitCost"></TelerikNumericTextBox>
						@*<input type="number" class="form-control" @bind-value="CurrentItem.UnitCost" />*@
					</div>
				</div>
				<div class="col-sm-12">
					<div class="form-group col-sm-6 @(IsValidSubmit ? "" : "has-error")">
						<label>ROP</label>
						<TelerikNumericTextBox Min="0" @bind-Value="CurrentItem.ReorderPoint"></TelerikNumericTextBox>
						@*<input type="number" class="form-control" @bind-value="CurrentItem.ReorderPoint" />*@
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" @onclick="SaveItem">Save changes</button>
			</div>
		</div>
	</div>
</div>
