@page "/ReleasedItems"

<h3>Released Items</h3>


<div class="nav-tabs-custom">
	<ul class="nav nav-tabs">
		<li class="active"><a href="#Releaseitem" data-toggle="tab">+ Release Item(s)</a></li>
		<li><a href="#list" data-toggle="tab"><i class="fa fa-list"></i> Items Released</a></li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane active" id="Releaseitem">
			<div class="row">
				<div class="col-sm-6">
					<div class="box box-primary box">
						<div class="box-body">
							<table class="table table-responsive-sm">
								<thead>
									<tr>
										<th>Invoice No</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<div class="form-group">
												<input type="text" class="form-control" @bind-value="CurrentReleasedItem.InvoiceNo" />
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							<table class="table table-responsive-sm">
								<thead>
									<tr>
										<th>Customer</th>
										<th>Contact Person</th>
										<th>Address</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
										<TelerikComboBox @bind-Value="@CurrentSelectedCustomer.CustomerId"
														OnChange="OnChangeCustomer"
														Data="@Customers"
														Placeholder="Customers"
														TextField="@nameof(Customer.CustomerName)"
														ValueField="@nameof(Customer.CustomerId)"
														Filterable="true"
														Id="Customer"
														Width="100%">
										</TelerikComboBox>
										</td>
										<td>
											@{
												if (CurrentSelectedCustomer.CustomerId > 0)
												{
													<span>@CurrentSelectedCustomer.CustomerName - @CurrentSelectedCustomer.ContactNo</span>
												}
											}
										</td>
										<td>
											@{
												if (CurrentSelectedCustomer.CustomerId > 0)
												{
													<span>@CurrentSelectedCustomer?.ContactPerson</span>
												}
											}
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="box box-primary card">
						<div class="box-body">
							<div class="form-group">
								<label>Transaction No</label>
								<input type="text" disabled class="form-control" @bind-value="CurrentReleasedItem.ReleaseTransactionNo" />
							</div>
							<div class="form-group">
								<label>Date Released</label>
								<input type="date" class="form-control" @bind-value="CurrentReleasedItem.DateReleased" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="box box-primary">
						<div class="box-body">
							<div class="row">
								<div class="form-group col-sm-6">
									<label for="">Location</label>
									<TelerikComboBox @bind-Value="@CurrentReleasedItemDetail.LocationId"
												    OnChange="OnChangeLocation"
													Data="@Locations"
													Placeholder="Locations"
													TextField="@nameof(Location.LocationName)"
													ValueField="@nameof(Location.LocationId)"
													Filterable="true"
													Id="location"
													Width="100%">
									</TelerikComboBox>
								</div>
								<div class="form-group col-sm-6">
									<label for="">Item</label>
									<TelerikComboBox @bind-Value="@CurrentReleasedItemDetail.ItemId"
													OnChange="OnChangeItem"
													Data="@Items"
													Placeholder="Items"
													TextField="@nameof(Item.ItemCode)"
													ValueField="@nameof(Item.ItemId)"
													Filterable="true"
													Id="items"
													Width="100%">
									</TelerikComboBox>
								</div>
							</div>
							<div class="row">
								<di class="form-group col-sm-6">
									<label for="">Cost</label>
									<TelerikNumericTextBox @bind-Value="@CurrentReleasedItemDetail.Cost"></TelerikNumericTextBox>
								</di>
								<di class="form-group col-sm-6">
									<label for="">Qty</label>
									<TelerikNumericTextBox @bind-Value="@CurrentReleasedItemDetail.Qty"></TelerikNumericTextBox>
								</di>
							</div>
						</div>
						<div class="box-footer">
							<button class="btn btn-sm btn-primary pull-right" @onclick="AddToReleasedItemDetailList"><i class="fa fa-arrow-right"></i> Add Item</button>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="box box-primary box">
						<div class="box-body">
							<table class="@GlobalVariables.TableClass">
								<thead>
									<tr>
										<td>Location</td>
										<td>Item</td>
										<td>Cost</td>
										<td>Qty</td>
										<td></td>
									</tr>
								</thead>
								<tbody>
									@if (!ReleasedItemDetailList.Any())
									{
										<tr>
											<td colspan="5">
												<center>No items added...</center>
											</td>
										</tr>
									}
									else
									{
										@foreach (var x in ReleasedItemDetailList)
										{
											<tr>
												<td>
													@{
														var locationname = Locations.FirstOrDefault(s => s.LocationId == x.LocationId)?.LocationName;
														<span>@locationname</span>
													}
												</td>
												<td>
													@{
														var item = Items.FirstOrDefault(s => s.ItemId == x.ItemId);
														<span>@item?.ItemCode @item?.ItemDescription</span>
													}
												</td>
												<td>@x.Cost</td>
												<td>@x.Qty</td>
												<td>
													<button class="btn btn-sm btn-danger" @onclick="@(()=>RemoveFromReleasedItemDetailList(x.ReleasedItemDetailId))"><i class="fa fa-remove"></i> Remove</button>
												</td>
											</tr>
										}
									}
								</tbody>
								<tfoot>
									<tr>
										<td colspan="5">
											<div class="form-group">
												<label for="">Remarks</label>
												<input type="text" class="form-control" @bind-value="CurrentReleasedItem.Remarks" />
											</div>
										</td>
									</tr>
								</tfoot>
							</table>
						</div>
						<div class="box-footer">
							<button class="btn btn-sm btn-success pull-right" @onclick="SaveReleaseItem"><i class="fa fa-save"></i> Save</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="tab-pane" id="list">
			<div class="row">
				<div class="col-sm-12">
					<div class="box box-primary">
						<div class="box-body">
							<TelerikGrid Data="ReleasedItems" AutoGenerateColumns="false">
								<GridToolBar>
									<GridCommandButton Command="ExportExcel">Export Excel</GridCommandButton>
									<GridCommandButton OnClick="LoadData"><i class="fa fa-refresh"></i> Refresh</GridCommandButton>
								</GridToolBar>
								<GridColumns>
									<GridColumn Field="@nameof(ReleasedItem.ReleaseTransactionNo)" Title="Transaction No"></GridColumn>
									<GridColumn Field="@nameof(ReleasedItem.InvoiceNo)" Title="Invoice No"></GridColumn>
									<GridColumn Field="@nameof(ReleasedItem.Customer.CustomerName)" Title="Customer">
										<Template>
											@{
												var item = context as ReleasedItem;
												var supppliername = Customers.FirstOrDefault(s=>s.CustomerId == item.CustomerId)?.CustomerName;
												<span>@supppliername</span>
											}
										</Template>
									</GridColumn>
									<GridColumn Field="@nameof(ReleasedItem.DateReleased)" Title="Date Released"></GridColumn>
									<GridColumn Field="@nameof(ReleasedItem.Remarks)" Title="Remarks"></GridColumn>
									<GridCommandColumn>
										<GridCommandButton OnClick="@ShowTransactionDetails">Details</GridCommandButton>
									</GridCommandColumn>
								</GridColumns>
							</TelerikGrid>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade" id="Releasedetailtransactionmodel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span></button>
				<h4 class="modal-title">Transaction Details</h4>
			</div>
			<div class="modal-body">
				<div class="box box-primary">
					<div class="box-header">
						<span>Overview</span>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-sm-12">
								<table class="@GlobalVariables.TableClass">
									<thead>
										<tr>
											<th>Transaction No</th>
											<th>Invoice No</th>
											<th>Customer</th>
											<th>Date Released</th>
											<th>Remarks</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>@CurrentReleasedItemToViewDetails.ReleaseTransactionNo</td>
											<td>@CurrentReleasedItemToViewDetails.InvoiceNo</td>
											<td>
												@{
													var Customer_id = CurrentReleasedItemToViewDetails.CustomerId;
													var Customername = Customers.FirstOrDefault(s=>s.CustomerId == Customer_id)?.CustomerName;
													<span>@Customername</span>
												}
											</td>
											<td>@CurrentReleasedItemToViewDetails.DateReleased</td>
											<td>@CurrentReleasedItemToViewDetails.Remarks</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
				<div class="box box-primary">
					<div class="box-header">
						<span>Details</span>
					</div>
					<div class="box-body">
						<div class="row">
							<div class="col-sm-12">
								<TelerikGrid Data="TransactionDetails" AutoGenerateColumns="false">
									<GridColumns>
										<GridColumn Field="@nameof(ReleasedItemDetail.LocationId)" Title="Location">
											<Template>
												@{
													var detail = context as ReleasedItemDetail;
													var locationname = Locations.FirstOrDefault(s=>s.LocationId == detail.LocationId)?.LocationName;
													<span>@locationname</span>
												}
											</Template>
										</GridColumn>
										<GridColumn Field="@nameof(ReleasedItemDetail.ItemId)" Title="Item">
											<Template>
												@{
													var detail = context as ReleasedItemDetail;
													var item = Items.FirstOrDefault(s=>s.ItemId == detail.ItemId);
													<span>@item?.ItemCode @item?.ItemDescription</span>
												}
											</Template>
										</GridColumn>
										<GridColumn Field="@nameof(ReleasedItemDetail.Qty)"></GridColumn>
										<GridColumn Field="@nameof(ReleasedItemDetail.Cost)"></GridColumn>
									</GridColumns>
								</TelerikGrid>
							</div>
						</div>
					</div>
				</div>
			</div>
			@* <div class="modal-footer">
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div> *@
		</div>
	</div>
</div>

<div class="modal fade" id="ReViewReleaseItemModel">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<div class="box box-solid">
							<div class="box-header with-border">
								<i class="fa fa-list"></i>
								<h3 class="box-title">Release Details</h3>
							</div>
							<div class="box-body">
								<dl class="dl-horizontal">
									<dt>Invoice No.</dt>
									<dd>@CurrentReleasedItem.InvoiceNo</dd>
									<dt>Transaction No</dt>
									<dd>@CurrentReleasedItem.ReleaseTransactionNo</dd>
									<dt>Date Released</dt>
									<dd>@CurrentReleasedItem.DateReleased</dd>
									<dt>Customer</dt>
									<dd>@CurrentSelectedCustomer.CustomerName</dd>
								</dl>
								<div>
									<table class="@GlobalVariables.TableClass">
										<thead>
											<tr>
												<td>Location</td>
												<td>Item</td>
												<td>Cost</td>
												<td>Qty</td>
											</tr>
										</thead>
										<tbody>
											@if (!ReleasedItemDetailList.Any())
											{
												<tr>
													<td colspan="5">
														<center>No items added...</center>
													</td>
												</tr>
											}
											else
											{
												@foreach (var x in ReleasedItemDetailList)
												{
													<tr>
														<td>
															@{
																var locationname = Locations.FirstOrDefault(s => s.LocationId == x.LocationId)?.LocationName;
																<span>@locationname</span>
															}
														</td>
														<td>
															@{
																var item = Items.FirstOrDefault(s => s.ItemId == x.ItemId);
																<span>@item?.ItemCode @item?.ItemDescription</span>
															}
														</td>
														<td>@x.Cost</td>
														<td>@x.Qty</td>
													</tr>
												}
											}
										</tbody>
										<tfoot>
											<tr>
												<td colspan="5">
													<div class="form-group">
														<label for="">Remarks</label>
														<input type="text" class="form-control" @bind-value="CurrentReleasedItem.Remarks" />
													</div>
												</td>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" @onclick="FinalSaveReleaseItem">Save changes</button>
			</div>
		</div>
	</div>
</div>

